@model Bangazon.Models.ProductDetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["ProductId"] = Model.Product.ProductId;
}

<h4> Product Details</h4>

<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Product.Title)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product.Title)
        </td>
    </tr>
    <tr>
        <td>
            @Model.Product.Likes.Where(l => l.IsLiked == true).Count() Likes by all users
        </td>
        <td>
            @if (Model.UserHasOpinion == false)
            {
                <form asp-action="CreateLike" asp-route-id="@Model.Product.ProductId">
                    <input type="hidden" asp-for="ButtonValue" value="true" />
                    <input type="submit" value="Like" class="btn btn-outline-info" />
                </form>
                <form asp-action="CreateLike" asp-route-id="@Model.Product.ProductId">
                    <input type="hidden" asp-for="ButtonValue" value="false" />
                    <input type="submit" value="Dislike" class="btn btn-outline-danger" />
                </form>
            }
            else
            {
                if (Model.UserLikes == true)
                {
                    <p>You like this item</p>
                }
                else
                {
                    <p>You dislike this item</p>
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product.Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product.Quantity)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Product.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.Product.City)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </td>
        <td>
            <img src="/images/@Model.Product.ImagePath" class="imageDisplay" />
        </td>
    </tr>
</table>


<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |*@
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Orders" asp-action="AddProduct" asp-route-id="@Model.Product.ProductId">Add To Order</a>
</div>
