@model List<Bangazon.Models.UserProductStatusModel>

@{
    ViewData["Title"] = "GetUserProducts";
}

<h1>Your Listings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Product.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NumberSold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberSold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Product.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Product.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Product.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
