@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                # in cart
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="" asp-route-id="@item.ProductId">Delete</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>


