@model List<Bangazon.Models.GroupedProducts>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <h3>
        <a class="nav-link text-dark" asp-area="" asp-controller="ProductTypes" asp-action="Details" asp-route-id="@item.TypeId">@item.TypeName (@item.ProductCount):</a>
    </h3>

    @foreach (var product in item.Products)
    {
        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">@product.Title</a>
    }
}
